  <% if notice %>
  <center class="alert alert-success float-end alert-dismissible fade show abs mt-3 pb-0" role="alert">
  <p class="notice"><%= notice %></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</center>
  <% end %>

  <% if alert %>
<center class="alert alert-warning float-end alert-dismissible fade show abs mt-3 pb-0" role="alert">
  <p class="alert"><%= alert %></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</center>
  <% end %>

  <style>
  .abs{
    position: absolute;
    z-index: 3;
    margin-left: 23rem
  }
  </style>