<!-- Navigation-->
<header class="bg-dark py-5 mt-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Notifications</h1>
    </div>
  </div>
</header>
<!-- Section-->

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <%= render "shared/side" %>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="card bg-light shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h6 class="pev" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Lorem ipsum dolor sit amet consectetur. <span class="badge bg-dark text-white ms-1 rounded-pill">new</span> <i class="bi bi-trash float-end sev"></i>
          </h6>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>

          <h6 class="pev mt-3" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Some lorem ipsum dolor sit.  <i class="bi bi-trash float-end sev"></i>
          </h6>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>