<!-- Navigation-->
<header class="bg-dark py-5 mt-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Orders</h1>
    </div>
  </div>
</header>
<!-- Section-->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-3">
      <div class="card bg-light">
        <div class="card-body">
          <%= render "shared/side" %>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="card bg-light">
        <div class="card-body">
          hello info
        </div>
      </div>
    </div>
  </div>
</div>