<%= render "shared/mobile" %>

<%= render "shared/db-side" %>
<main class="content">
    <%= render "shared/db-nav" %>




<div class="bg-white rounded shadow  mb-4 mt-4">
  <div class="row mt-5 mb-5">
    

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card-body">
          <h6 class="pev" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Lorem ipsum dolor sit amet consectetur. <span class="badge bg-info text-white ms-1 rounded-pill">new</span> <i class="bi bi-trash float-end sev"></i>
          </h6>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>

          <h6 class="pev mt-3" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Some lorem ipsum dolor sit.  <i class="bi bi-trash float-end sev"></i>
          </h6>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



    <%= render "shared/db-footer" %>
</main>