<header class="bg-dark bg-image py-5 mt-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Sign In</h1>
    </div>
  </div>
</header>

<div class="login d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-5 mx-auto">
        <h3 class="login-heading text-center mb-4">Welcome back!</h3>
        <!-- Sign In Form -->
        <form class="new_user" id="new_user" action="<%= user_session_path%>" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="d-grid">
            <a class="btn btn-lg btn-danger btn-login text-white text-uppercase  fw-bold mb-2" data-method="post" href="/users/auth/google"> <i class="bi bi-google"></i> Sign in with Google </a>
            <div class="text-center mb-3 mt-2">
              Or
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" autofocus="autofocus" value="" autocomplete="email" name="user[email]" class="form-control" id="floatingInput user_email" placeholder="name@example.com">
            <label for="user_email floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" autocomplete="current-password" class="form-control" name="user[password]" id="floatingPassword user_password" placeholder="Password">
            <label for="user_password floatingPassword">Password</label>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="form-check mb-3">
            <input name="user[remember_me]" type="hidden" value="0"><input class="form-check-input" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me rememberPasswordCheck">
            <label class="form-check-label" for="rememberPasswordCheck user_remember_me">
              Remember password
            </label>
            <span class="me-4 flt">
              <a  href="/users/password/new">Forgot password?</a>
            </span>
          </div>
          <%end%>
          <div class="d-grid">
            <button class="btn btn-lg btn-outline-dark btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
            <div class="text-center small">Don't have Account?
              <a href="/sign_up">Sign up</a>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
</div>


<style>
.flt{
  float: right !important;
}
</style>
