

<div class="container mt-5 px-md-5 px-lg-7">
      <div class="card card-bordered mt-5 "  >
        <div class="card-body p-5 p-md-7 p-lg-11">
          <div class="row justify-content-lg-between align-items-sm-center mb-5">
            <div class="col-sm-6 col-lg-4 order-sm-2 text-sm-right mb-5 mb-sm-0">
              <h1 class="h2 mb-0">
                Invoice 
                <small class="d-block">#3128641</small>
              </h1>
            </div>

            <div class="col-sm-6 col-lg-4 order-sm-1">
              <!-- Logo -->
              <h2 class="h1 text-dark"> <i class="bi bi-fan fs-1"></i> Fav's R.</h2>
              <!-- End Logo -->

              <!-- Address -->
              <address>
                153 Williamson Plaza, Maggieberg, MT 09514, United States
              </address>
              <small class="d-block text-muted">tel: +1 (062) 109-9222</small>
              <!-- End Address -->
            </div>
          </div>

          <!-- Bill To -->
          <div class="row justify-content-md-between mb-5 bg-light">
            <div class="col-md-5 col-lg-4">
              <h5>Bill to:</h5>
              <span class="d-block text-dark fw-bold">Sara Williams</span>
              <address class="text-body mb-0">
                280 Suzanne Throughway, Breannabury, OR 45801, United States
              </address>
            </div>

            <div class="col-md-5 col-lg-4 mt-6">
              <dl class="row mb-0">
                <dt class="col-5 col-md-6 text-body">Invoice date:</dt>
                <dd class="col-7 col-md-6 text-dark fw-bold">03/10/2018</dd>
              </dl>
             
            </div>
          </div>
          <!-- End Bill To -->

          <!-- Table -->
          <div class="table-responsive-lg bg-light">
            <table class="table table-heighlighted fs-6 mb-0">
              <thead>
                <tr class="text-uppercase text-body">
                  <th scope="col" class="">Description</th>
                  <th scope="col" class="">Quantity</th>
                  <th scope="col" class=" text-end">Price</th>
                </tr>
              </thead>
              <tbody class="">
                <tr>
                  <td>Design UX and UI</td>
                  <td>1</td>
                  <td class="text-end">$500</td>
                </tr>
                <tr>
                  <td>Web project</td>
                  <td>1</td>
                  <td class="text-end">$1250</td>
                </tr>
                <tr>
                  <td >SEO</td>
                  <td>1</td>
                  <td class="text-end">$2000</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End Table -->

          <!-- Total -->
          <div class="border-top border-dark pt-2 mb-5 bg-light">
            <div class="row">
              <div class="col-6">
                <div class="text-dark ps-2">
                  Total
                </div>
              </div>
              <div class="col-6 text-end">
                <div class="text-dark pe-2">
                  $3,750
                </div>
              </div>
            </div>
          </div>
          <!-- End Total -->

          <!-- Contacts -->
          <div class="row justify-content-lg-between">
            <div class="col-md-8 col-lg-7 order-md-2 mb-5 mb-md-0">
              <h5>Thank you!</h5>
              <p class="fs-6 text-muted">If you have any questions concerning this invoice, use the following contact information:</p>

              <span class="d-block">
                <small class="text-dark fw-bold">email:</small>
                <small class="text-muted">hello@example.com</small>
              </span>
              <small class="text-dark fw-bold">telephone:</small>
              <small class="text-muted">+1 (062) 109-9222</small>
            </div>

            <div class="col-md-4 col-lg-3 order-md-1 align-self-end">
              <p class="small text-muted mb-0">© 2021 FAV'S RESTAURANT.</p>
            </div>
          </div>
          <!-- End Contacts -->
        </div>
      </div>

      <div class="text-end mt-5 mb-5">
        <button type="button" class="btn btn-dark transition-3d-hover" onclick="window.print();return true;">
          <i class="bi bi-printer"></i>
          Print
        </button>
      </div>
    </div>